@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.headshot {
    display: flex;
    height: 15%;
    width: 15%;
    border-style: groove;
    border-color: black;
}

#introduction, #exp{
    font-family: 'Cinzel Decorative', serif;
    border-style: groove;
    border-color: black;
}

#projects{
    border-style: groove;
    border-color: black;
}

#ref{
    display: flex;
    justify-content: space-evenly;
}

.card{
    border-style: groove;
    border-color: black;
}

.card-img-top{
    height: 45px;
    width: 45px;
}

#footer{
    background-color: blue;
}

#logo{
    height: 45px;
    width: 45px;
}