@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.headshot {
    display: flex;
    height: 15%;
    width: 15%;
    border-style: groove;
    border-color: black;
    border-radius: 15%;
}

body{
    background-color: honeydew;
}

#introduction{
    border-style: groove;
    border-color: black;
}

#introduction, #projects, #exp{
    font-family: 'Cinzel Decorative', serif;
    padding: 10px;
    border-radius: 10%;
}

#ref{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10%;
}

.card{
    border-style: groove;
    border-color: black;
    border-radius: 5%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

.card:hover {
    transform: scale(1.02);
  }
  
.card-img-top{
    height: 45px;
    width: 45px;
}

.btn{
    display: block;
    text-align: center;
    border-style: double;
    border-color: blue;
    border-radius: 10%;
    background-color: cyan;
    padding: 0%;
    margin: 0%;
}

#footer{
    background-color: grey;
    border-radius: 3%;
}

#logo{
    height: 45px;
    width: 45px;
}